%html
  %head
    %title Search
  %body
    %h1 Search
    %form(method='post' action='/')
      %input(type='text' name='query')
      %input(type='submit')
    %hr
      Suggested searches:
      - @term_counts.each do |term_count|
        - term, count = term_count
        %a{:href => "?query=#{term}"}= term
        = "(#{count})"
    %hr

    - if @aligned_excerpts.nil? || @unaligned_excerpts.nil?
    - elsif @aligned_excerpts.size == 0 && @unaligned_excerpts.size == 0
      No results for this query.
    - else
      - if @aligned_excerpts.size > 0
        %h2 Aligned excerpts
        %ul
          - @aligned_excerpts.each do |result|
            %li
              %a{ :href => "/split_mp3s/#{result[:youtube_video_id]}.#{result[:alignment].start_centis}.#{result[:alignment].finish_centis}.mp3", :target => '_blank' }
                = '[Play]'
              %a{ :href => "/song/#{result[:song_id]}#line#{result[:line_num]}" }
                = result[:artist_name]
                = '-'
                = result[:song_name] + ':'
                = "\"#{result[:line]}\""
      - if @unaligned_excerpts.size > 0
        %h2 Unaligned excerpts
        %ul
          - @unaligned_excerpts.each do |result|
            %li
              %a{ :href => "/song/#{result[:song_id]}#line#{result[:line_num]}" }
                = result[:artist_name]
                = '-'
                = result[:song_name] + ':'
                = "\"#{result[:line]}\""

      %hr
    %a{ :href => "/search?query=#{params['query']}&offset=#{params['offset'].to_i + FerretSearch::MAX_NUM_EXCERPTS_TO_RETURN}" }
      Next page
    != haml :_js
    != haml :_loading
    :javascript
      require(["cs!app/app"], function(main) { main.setupFromRequestParams(); });
