%html
  %head
    %title Search
  %body
    %h1 Search
    %form(method='post' action='/search')
      %input(type='text' name='query')
      %input(type='submit')
    %hr
      Suggested searches:
      - @term_counts.each do |term_count|
        - term, count = term_count
        %a{:href => "?query=#{term}"}= term
        = "(#{count})"
    %hr
    - if @results.nil?
    - elsif @results.size == 0
      No results
    - else
      %ul
        - @results.each do |result|
          %li
            %a{ :href => "/song/#{result[:song_id]}#line#{result[:line_num]}" }
              = result[:artist_name]
              = '-'
              = result[:song_name] + ':'
              = "\"#{result[:line]}\""
    != haml :_js
    != haml :_loading
    :javascript
      require(["cs!app/app"], function(main) { main.setupFromRequestParams(); });
