%form{ :method => 'post' }
  %h1#song_name= @song.song_name
  %h2
    by
    %span#artist_name= @song.artist_name
  #youtube-video-id(display:none)= @song.youtube_video_id

  - if @song.youtube_video_id.nil?
    != haml '_need-video'.intern
  - else
    != haml '_need-alignments'.intern

  %input#save-button(type='submit' name='submit') Save

  %div(style='border:1px black solid;float:right')
    - if @song.youtube_video_id
      Youtube Video Id is
      = @song.youtube_video_id
      %button(name='remove_youtube_video' value='true') Remove

  %h3 Keyboard commands
  %ul
    %li [Space] to start or stop the video
    %li Line [S]tarted
    %li Line [F]inished
    %li Go [D]own
    %li Go up ([E]arlier)
    %li Shift-S to correct last start time
    %li Shift-F to correct last finish time

  .youtube-player
  %br

  %table(id='js-lyrics-table')
    - @lyrics_lines.each_with_index do |line, line_num|
      - start_centis, finish_centis =              |
        @start_finish_centis_by_line_num[line_num] |
      %tr{ :id => "line#{line_num}" }
        %td.start-centis
          %input{ :type => 'text', :name => "s[]",
            :value => format_centis(start_centis) }
        %td.lyric
          %a{ :name => "line#{line_num}" }
            = line
        %td.finish-centis
          %input{ :type => 'text', :name => "f[]",
            :value => format_centis(finish_centis) }
    %tr{ :id => "line#{@lyrics_lines.size}" }
      %td.start-centis
      %td.lyric
      %td.finish-centis
