%form{ :method => 'post' }
  %h1
    %span#song_name= @song.song_name
    by
    %span#artist_name= @song.artist_name
  #youtube-video-id(style='display:none')= @song.youtube_video_id

  - if @song.youtube_video_id.nil?
    != haml '_need-video'.intern
  - elsif @song.alignments.size == 0
    != haml '_need-alignments'.intern

  %div(style='float:right')
    - if @song.youtube_video_id
      Youtube Video Id is
      = @song.youtube_video_id
      %button(name='remove_youtube_video' value='true') Remove
    .youtube-player

    .key-photos
      .key-photo.e E
      .key-photo.s S
      .key-photo.d D
      .key-photo.f F

    %ul.keyboard-shortcuts
      %li
        %span.key-inline Space
        to pause or play
      %li
        %span.key-inline S
        when a line starts
      %li
        %span.key-inline F
        when a line finishes (optional)
      %li
        %span.key-inline D
        to go down
      %li
        %span.key E
        to go up (earlier)
      %li
        %span.key Shift
        %span.key S
        to correct a start time
      %li
        %span.key Shift
        %span.key F
        to correct a finish time

  %table(id='js-lyrics-table')
    - @lyrics_lines.each_with_index do |line, line_num|
      - start_centis, finish_centis =              |
        @start_finish_centis_by_line_num[line_num] |
      %tr{ :id => "line#{line_num}" }
        %td.start-centis
          %input{ :type => 'text', :name => "s[]",
            :value => format_centis(start_centis) }
        %td.lyric
          %a{ :name => "line#{line_num}" }
            = line
        %td.finish-centis
          %input{ :type => 'text', :name => "f[]",
            :value => format_centis(finish_centis) }
    %tr{ :id => "line#{@lyrics_lines.size}" }
      %td.start-centis
      %td.lyric
      %td.finish-centis

  %input#save-button(type='submit' name='submit') Save
