%form{ :method => 'post' }
  %h1= @song.song_name
  %h2= "by #{@song.artist_name}"

  - if @song.youtube_video_id.nil?
    #dialog-overlay
    #dialog-box
      .dialog-content
        #dialog-message
          %p#no-recording-yet
            We don't have a recording of
            %i= @song.song_name
            yet, but it might be on YouTube.  Do you see it below?
          #youtube-search
            #temporary-loading-notice
              Loading...
              %img#animated-throbber(src="/images/loading-animated.gif")
        %a.button.close-button(href='#') Close

  %input#save-button(type='submit' name='submit') Save

  %div(style='border:1px black solid;float:right')
    - if @song.youtube_video_id
      Youtube Video Id is
      = @song.youtube_video_id
      %button(name='remove_youtube_video' value='true') Remove

      %p(id="content-container")
        #ytapiplayer{ :'data-video-id' => @song.youtube_video_id }
          You need Flash player 8+ and JavaScript enabled to view this video.

  %h3 Keyboard commands
  %ul
    %li [Space] to start or stop the video
    %li Line [S]tarted
    %li Line [F]inished
    %li Go [D]own
    %li Go up ([E]arlier)
    %li Shift-S to correct last start time
    %li Shift-F to correct last finish time

  %button#play-button Play
  #progress-outer
    #progress-total-time
    #progress-bar
    #progress-loaded-bar
    #progress-bar-caption
  %br

  %table(id='js-lyrics-table')
    - @lyrics_lines.each_with_index do |line, line_num|
      - start_centis, finish_centis =              |
        @start_finish_centis_by_line_num[line_num] |
      %tr{ :id => "line#{line_num}" }
        %td.start-centis
          %input{ :type => 'text', :name => "s[]",
            :value => format_centis(start_centis) }
        %td.lyric
          %a{ :name => "line#{line_num}" }
            = line
        %td.finish-centis
          %input{ :type => 'text', :name => "f[]",
            :value => format_centis(finish_centis) }
    %tr{ :id => "line#{@lyrics_lines.size}" }
      %td.start-centis
      %td.lyric
      %td.finish-centis
