- @videos.each do |video|
  - thumb = video.thumbnails.find { |thumb| thumb.name == 'default' }.url
  .video(style='clear:both;padding-top:25px;')
    %img{ :src => "#{thumb}", :style => 'float:left;padding-right:10px' }
    %h2(style='font-size:16px;font-weight:bold;margin:0')
      = video.title
    by
    = video.author.name
    = '-'
    = sprintf('%d min %02d sec', video.duration / 60, video.duration % 60)
    = '-'
    = video.view_count
    views
    %br
    %button(style='height:30px;margin-top:10px') Watch on YouTube
    %button{ :style => 'height:30px;margin-left:10px;margin-top:10px',
      :name => 'youtube_video_id', :value => video.unique_id }
      Choose this video

%p(style='clear:both;padding-top:20px;padding-bottom:0;margin-bottom:0') Or paste in a YouTube URL directly:
%input(type='text' style='margin:0;padding:0;width:255px')
%button(style='height:30px;margin-left:10px;margin-top:10px') Choose this video
