- @videos.each do |video|
  - thumb = video.thumbnails.find { |thumb| thumb.name == 'default' }.url
  .video(style='clear:both;padding-top:25px;')
    %a{ :href => video.player_url, :target => '_blank' }
      %img{ :src => "#{thumb}", :style => 'float:left;padding-right:10px' }
    %button{ :style => 'height:30px;margin-left:10px;margin-top:10px;float:right;height:60px;margin-right:20px',
      :name => 'youtube_video_id', :value => video.unique_id }
      Use this video
      %br
      as recording
    %h2(style='font-size:16px;font-weight:bold;margin:0')
      = video.title
    by
    = video.author.name
    = '-'
    = sprintf('%d min %02d sec', video.duration / 60, video.duration % 60)
    = '-'
    = video.view_count
    views
    %br
